<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="IskurDb" connectionString="Server=localhost;Database=iskur;Uid=yeniAdmin;Pwd=1234;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.windows.forms jitDebugging="false" />
</configuration>
